<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
      <meta http-equiv="Content-Language" content="hi" />
      <style>
         .card {
         box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
         transition: 0.3s;
         width: 40%;
         }
         .card:hover {
         box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
         }
         .container {
         padding: 2px 16px;
         }
         .style1 {
         color: #0066FF;
         font-weight: bold;
         }
         .style2
         {
         text-align: justify;
         }
         .style4
         {
         text-align: center;
         font-size: x-large;
         font-weight: bold;
         }
         @font-face { font-family: "Mangal"; src: url(MANGAL.TTF); unicode-range: U+0-10FFFF; } * { font-family: "Mangal"; }
      </style>
   </head>
   <body>
      {{ range $voter := .Voters }}
      <div class="card">
         <div class="container">
            <table style="width:520px; font-size: small; font-family: Arial, Mangal, Helvetica, sans-serif;" cellpadding="5" cellspacing="1" bgcolor="#CCCCFF" border="2">
               <tbody>
                  <tr>
                     <td class="style4" colspan="2">
                      <img src="/static/img/sp-symbol.png" alt="Avatar">&nbsp; &nbsp; &nbsp; &nbsp; सहायता पर्ची &nbsp; &nbsp; &nbsp; &nbsp;<img src="/static/img/avatar.jpg" alt="Avatar">
                     </td>
                  </tr>
                  <tr>
                     <td>जिले का नाम</td>
                     <td>
                        {{$voter.District_name_hindi}}
                     </td>
                  </tr>
                  <tr>
                     <td>विधान सभा क्षेत्र(नाम एवम संख्या)</td>
                     <td>
                        {{$voter.Ac_number}} {{$voter.Ac_name_hindi}}
                     </td>
                  </tr>
                  <tr>
                     <td>मुहल्ला (नाम एवम संख्या)</td>
                     <td>
                        {{$voter.Section_number}} {{$voter.Section_name_hindi}}
                     </td>
                  </tr>
                  <tr>
                     <td>नाम</td>
                     <td>
                       {{$voter.Name_hindi}}
                     </td>
                  </tr>
                  <tr>
                     <td>लिंग</td>
                     <td>
                        {{$voter.Gender}}
                     </td>
                  </tr>
                  <tr>
                     <td>पहचान पत्र संख्या</td>
                     <td>
                        {{$voter.Id_card_number}}
                     </td>
                  </tr>
                  <tr>
                     <td>पिता/पति का नाम</td>
                     <td>
                        {{$voter.Relation_name_hindi}}
                     </td>
                  </tr>
                  <tr>
                     <td>मतदाता क्रमांक</td>
                     <td>
                        {{$voter.Serial_number_in_part}}
                     </td>
                  </tr>
                  <tr>
                     <td>मतदान स्थल एवम संख्या</td>
                     <td>
                        {{$voter.Part_number}}
                     </td>
                  </tr>
                  <tr>
                     <td>मतदान दिवस</td>
                     <td></td>
                  </tr>
                  <tr>
                    <td class="style2" colspan="2"><b>नोट</b>: यह सहायता पर्ची आपकी मदद के लिए समाजवादी पार्टी की तरफ से उपलब्ध कराई गयी है। यह आपकी पहचान का प्रमाण नहीं है।
                     </td>
                  </tr>
                  <tr>
                     <td colspan="2" style="text-align: justify">
                       यह जगह पार्टी के सन्देश अथवा नारे के लिए है।
                     </td>
                  </tr>
               </tbody>
            </table>
           <p></p>
         </div>
      </div>
     {{ end }}
   </body>
</html>